* {
  text-align: center;
  color: red;
}

.background {
  background-image: url('https://live.staticflickr.com/8043/8394379683_a49795d0e3_b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  margin-left: 20vh;
  margin-right: 20vh;
}

.square {
  height: 200px;
  width: 200px;
  font-size: 150px;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.612);
}

.gameboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 820px;
  margin: 0 auto;
}

.reset {
  display: flex;
  width: 100px;
  height: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  align-content: center;
  color: black
}